@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  font-feature-settings: "kern" 1, "liga" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 简洁的链接样式 */
a {
  text-decoration: none;
}

/* 选中文字的颜色 */
::selection {
  background-color: rgba(59, 130, 246, 0.2);
}
